<h3>Login Page</h3>

<form action="login" method="POST">
	<input type="text" placeholder="User Name" name="UserName">
	<input type="text" placeholder="Your Password" name="PassWord">
	<input type="submit" value="Login">
</form>