<h3>New Member Registration</h3>

<form action="register" method="POST">
	<input type="text" placeholder="Enter User Name" name="uname">
	<input type="text" placeholder="Select Password" name="pword">
	<input type="submit" name="">
</form>